# Exercise 2: Using best fit methods in gwrefpy

This notebook introduces how to use the best fit method for a large `gwrefpy` model. 

This notebook can be downloaded from the source code [here](https://github.com/andersretznerSGU/gwrefpy/blob/main/docs/tutorials/exercises/2_exercise2.ipynb).

In this exercise, you will:
1. Import the `gwrefpy` package and load the model (already done for you)
5. Fit the model
6. Plot the results

## 1. Import the gwrefpy package and load the data

In [3]:
import gwrefpy as gr

model = gr.Model('large_example.gwref') # Load an example model for the package
model.fits = [] # Clear any fits that may be present in the example model
model.wells_summary()

Model 'Large Example' loaded from 'large_example.gwref'.

,name,well_type,data_points,start_date,end_date,mean_level,latest_value,latest_date,latitude,longitude,elevation,best_fit_ref_well,best_rmse,num_fits,avg_rmse
0,01OBS,observation,112,2020-01-01,2020-04-21,11.753155,11.562414,2020-04-21,None,None,None,None,None,NaN,NaN
1,02OBS,observation,80,2020-01-01,2020-03-20,12.931890,12.925313,2020-03-20,None,None,None,None,None,NaN,NaN
2,03OBS,observation,95,2020-01-01,2020-04-04,14.096635,14.106713,2020-04-04,None,None,None,None,None,NaN,NaN
3,04OBS,observation,93,2020-01-01,2020-04-02,15.277157,15.287510,2020-04-02,None,None,None,None,None,NaN,NaN
4,05OBS,observation,105,2020-01-01,2020-04-14,16.442842,16.579736,2020-04-14,None,None,None,None,None,NaN,NaN
5,06OBS,observation,82,2020-01-01,2020-03-22,17.621488,17.655653,2020-03-22,None,None,None,None,None,NaN,NaN
6,07OBS,observation,116,2020-01-01,2020-04-25,18.796522,18.716346,2020-04-25,None,None,None,None,None,NaN,NaN
7,08OBS,observation,81,2020-01-01,2020-03-21,19.976834,20.053553,2020-03-21,None,None,None,None,None,NaN,NaN
8,09OBS,observation,95,2020-01-01,2020-04-04,21.156969,20.993342,2020-04-04,None,None,None,None,None,NaN,NaN
9,10OBS,observation,100,2020-01-01,2020-04-09,22.316877,22.388860,2020-04-09,None,None,None,None,None,NaN,NaN
10,11OBS,observation,104,2020-01-01,2020-04-13,23.514971,23.588313,2020-04-13,None,None,None,None,None,NaN,NaN
11,12OBS,observation,88,2020-01-01,2020-03-28,24.666201,24.744872,2020-03-28,None,None,None,None,None,NaN,NaN
12,01REF,reference,112,2020-01-01,2020-04-21,8.759759,8.747352,2020-04-21,None,None,None,NaN,NaN,0.0,None
13,02REF,reference,80,2020-01-01,2020-03-20,9.620159,9.607570,2020-03-20,None,None,None,NaN,NaN,0.0,None
14,03REF,reference,95,2020-01-01,2020-04-04,10.494114,10.446796,2020-04-04,None,None,None,NaN,NaN,0.0,None
15,04REF,reference,93,2020-01-01,2020-04-02,11.375509,11.427661,2020-04-02,None,None,None,NaN,NaN,0.0,None
16,05REF,reference,105,2020-01-01,2020-04-14,12.253849,12.174917,2020-04-14,None,None,None,NaN,NaN,0.0,None
17,06REF,reference,82,2020-01-01,2020-03-22,13.129146,13.109889,2020-03-22,None,None,None,NaN,NaN,0.0,None
18,07REF,reference,116,2020-01-01,2020-04-25,13.999060,14.108201,2020-04-25,None,None,None,NaN,NaN,0.0,None
19,08REF,reference,81,2020-01-01,2020-03-21,14.880381,14.838350,2020-03-21,None,None,None,NaN,NaN,0.0,None
20,09REF,reference,95,2020-01-01,2020-04-04,15.745920,15.777444,2020-04-04,None,None,None,NaN,NaN,0.0,None
21,10REF,reference,100,2020-01-01,2020-04-09,16.625979,16.671081,2020-04-09,None,None,None,NaN,NaN,0.0,None
22,11REF,reference,104,2020-01-01,2020-04-13,17.500392,17.443029,2020-04-13,None,None,None,NaN,NaN,0.0,None
23,12REF,reference,88,2020-01-01,2020-03-28,18.375225,18.342771,2020-03-28,None,None,None,NaN,NaN,0.0,None

## 2. Use the best fit method to fit the model

In [ ]:
# Use the best fit method here to fit the model

## 3. Plot the results

In [ ]:
# Plot the results here